
    body {
        background-image: url('TjUG3t2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
       
        background-size: cover;
      }
      article {
    background-color: rgba(0, 0, 0, 0.322);
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1500px;
    border: ridge;
    border-radius: 2%;
    border-color: rgba(0, 0, 0, 0.26);
}
#intro {
    width: 75%;
    color: rgba(255, 255, 255, 0.795);
}
#info {
    font-size: 25px;
}
 