<!DOCTYPE html>
<html>

<head>
    <!-- Specify character encoding -->
    <meta charset="UTF-8">

    <!-- Set viewport to specific device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link styles.css and blogs.css -->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/blogs.css">

    <!-- Link bootstrap css cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Specify icon for the page -->
    <link rel="icon" href="images/logonotext.png">

    <!-- Set title for the page -->
    <title>The travel episodes</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="navbar-logo" src="images/logonotext.png" alt="Logo" width="35" height="35">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <li class="dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Blogs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/blog1">The travel episodes</a></li>
                            <li><a class="dropdown-item" href="/blog2">The blog abroad</a></li>
                            <li><a class="dropdown-item" href="/blog3">CarTalk</a></li>
                        </ul>
                    </li>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signin" class="nav-link">Sign In</a></li>
                <li><a href="/signup" class="nav-link">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <div class="header">
        <h2>The travel episodes</h2>
    </div>

    <div class="row d-flex justify-content-center max-width">
        <div class="leftcolumn">
            <div class="card">
                <h2>100 Miles on the Tracks of the Calusa</h2>
                <h5>The Great Calusa Blueway, Fort Myers, Florida, Apr 21, 2021</h5>
                <img src="images\Article1.jpg" height="576" width="1024">
                <p>The Great Calusa Blueway is an almost 200-mile-long paddling trail off the Gulf coast near Fort Myers. Here Dirk Rohrbach follows the tracks of the Calusa Indians who were once settling in this region in Florida’s Southwest...</p>
                <a class="readMore" href="http://en.travelepisodes.com/journey/100-meilen-auf-den-spuren-der-calusa/" target="_blank">Read more</a>
            </div>
            <div class="card">
                <h2>Me, Love and Other Catastrophes</h2>
                <h5>An Odyssey in the Philippines, May 5, 2021</h5>
                <img src="images\Article2.jpg" height="576" width="1024">
                <p>Fresh from a break-up, Marco Buch sets out on an emotional rollercoaster ride in the Philippines, meeting dancing killers and tattooed girls, and experimenting with Tinder...</p>
                <a class="readMore" href="http://en.travelepisodes.com/journey/philippinen-odyssee/" target="_blank">Read more</a>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me</h2>
                <img src="images/Author1.jpg" width="400" height="230">
                <h3>Johannes Klaus</h3>
                <p>Blogger, Graphic Designer, Traveler. In 2011, his blog Reisedepesche won the Grimme Online Award. Since 2013, Johannes Klaus has been the editor of Reisedepeschen, a leading portal for travel stories. The Travel Episodes is his new baby.
                    He likes German Apple Spritzer (apple juice with sparkling water) in 0.5 l bottles and lives in Berlin.</p>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <a href="http://en.travelepisodes.com/" target="_blank">
                    <button type="button" class="btn btn-secondary">To the site</button>
                </a>
            </div>
        </div>
    </div>

    <footer class="bg-secondary text-center text-lg-start text-light">
        <div class="text-center p-3 text-light">
            &copy; 2021 Copyright:
            <a class="text-light" href="https://github.com/gkgeorgiev18/internship-project" target="_blank">Omne enim blog</a>
        </div>
    </footer>

    <!-- Link jQuery, Popper.js and JavaScript plugins -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>