USE [master]
GO
/****** Object:  Database [Omne enim blog]    Script Date: 7/9/2021 12:02:22 ******/
CREATE DATABASE [Omne enim blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Omne enim blog', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Omne enim blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Omne enim blog_log', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Omne enim blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Omne enim blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Omne enim blog]
GO
/****** Object:  Table [dbo].[Sign In]    Script Date: 7/9/2021 12:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sign In](
	[Id] [nchar](10) NOT NULL,
	[username] [varchar](30) NOT NULL,
	[password] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sign Up]    Script Date: 7/9/2021 12:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sign Up](
	[Id] [bigint] NOT NULL,
	[username] [varchar](30) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[password] [char](60) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
